<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videodromm browser</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <div id="abar">
      <a href="https://github.com/videodromm" target="_blank">Github repo</a>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
